.context-menu-container {
    position: fixed;
    z-index: 9999;
    background-color: #000;
}
    .context-menu {
        width: 26px;
        height: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin-left: 10px;
        transition: all 0.1 ease;
    }
    /* .context-menu:hover, */
    .context-menu--selected {
        border: 1px solid #0075c0;
    }
        .context-menu__icon {
            background: url('../../assets/img/Sprites.64af8f61.svg') no-repeat -900px -365px;
            width: 8px;
            height: 5px;
        }
    .context-menu-container .selectbox__list {
        cursor: pointer;
        left: unset !important;
    }