:root {
    --input-focus: 1px solid #2CA01C;
}

input {
    cursor: text !important;
}
.input-wrapper {
    width: 100%;
}
    .label {
        display: block;
        font-size: 12px;
        font-family: MISANotoSan-Semibold;
        color: #111;
        margin-bottom: 6px;
    }
    .input {
        font-size: 13px;
        height: 32px;
        color: inherit;
        position: relative;
        padding: 6px 10px;
        border-radius: 2px;
        border: 1px solid #babec5;
        box-sizing: border-box;
        width: 100%;
        outline: none;
        padding: 6px 10px;
        width: 100%;
    }   
    .input:focus {
        border: var(--input-focus);
    } 