:root {
    --input-focus: 1px solid #2CA01C;
}

input {
    cursor: text !important;
    outline: none !important; 
}
/* .input-main {
    width: 100%;
} */
    .input-unit {
        font-size: 13px;
        font-family: MISANotoSan-Regular;
        white-space: nowrap;
    }
    .label {
        display: block;
        font-size: 12px;
        font-family: MISANotoSan-Semibold;
        color: #111;
        margin-bottom: 6px;
    }
    .input {
        font-size: 13px;
        height: 32px;
        color: inherit;
        position: relative;
        padding: 6px 10px;
        border-radius: 2px;
        border: 1px solid #babec5;
        box-sizing: border-box;
        width: 100%;
        outline: none;
        padding: 6px 10px;
        width: 100%;
    }   
    .input:focus {
        border: var(--input-focus);
    } 
    .input:focus .input_icon {
        border: none;
    }
    .input--disable {
        background-color: #EFF0F2;
    } 
    .input__span {
        width: 100%;
    }

input::-webkit-input-placeholder {
    /* max-width:  95% !important; */
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}
