/* LIBS */
@import url('./libs/size.css');
@import url('./libs/position.css');
@import url('./libs/border.css');
@import url('./libs/marginandpadding.css');
@import url('./libs/basiccomponets.css');

/* COMMON */
@import url('./common/color.css');
@import url('./common/font.css');
@import url('./common/textstyle.css');
@import url('./common/resetcss.css');
@import url('./common/placeholder.css');
@import url('./common/scrollbar.css');

/* LAYOUT */
@import url('./layout/content.css');



/* APP */
#app {
    display: flex;
    /* min-height: 700px; */
    height: 100vh;
    font-family: MISANotoSan-Regular;
}
#wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
    min-width: 600px;
}