/* COMMON */
@import url('./common/color.css');
@import url('./common/font.css');
@import url('./common/textstyle.css');
@import url('./common/resetcss.css');
@import url('./common/placeholder.css');
@import url('./common/scrollbar.css');
@import url('./common/function.css');

/* BASE */
@import url('./base/table.css');
@import url('./base/combobox.css');
@import url('./base/selectbox.css');
@import url('./base/contextmenu.css');
@import url('./base/pagination.css');
@import url('./base/tooltip.css');
@import url('./base/form.css');
@import url('./base/button.css');
@import url('./base/input.css');
@import url('./base/checkbox.css');
@import url('./base/radio.css');
@import url('./base/inputdate.css');
@import url('./base/datepicker.css');
@import url('./base/dialog.css');
@import url('./base/toastmessage.css');

/* LAYOUT */
@import url('./layout/menu.css');
@import url('./layout/header.css');
@import url('./layout/content.css');
@import url('./layout/loading.css');



/* APP */
#app {
    display: flex;
    /* min-height: 700px; */
    height: 100vh;
    font-family: MISANotoSan-Regular;
}
#wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
    min-width: 600px;
}