:root {
    /* SIZE */
    --content-header-height: 36px;
    /* COLOR */
    --content-background-color: #f8f8f8;
}

#content {
    display: flex;
    flex-direction: column;
    height: calc(100% - var(--header-height));
    background-color: var(--content-background-color);
    padding-left: 20px;
}

/* CONTENT HEADER */
.content__header {
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    padding: 24px 30px 24px 0;
    min-height: var(--content-header-height);
}
    /* CONTENT NAME */
    .content__name {
        font-size: 24px;
        font-family: MISANotoSan-Bold;
        font-weight: 700;
        line-height: var(--content-header-height);
    } 


    .content__control {
        display: flex;
    }  
        .content__function {
            display: flex;
            margin-left: 20px;
        }
            .content__add {
                position: relative;
            }
                .content__add::after {
                    display: block;
                    content: "";
                    width: 1px;
                    height: calc(100% - 16px);
                    background-color: #fff;
                    position: absolute;
                    right: 0;
                }   
            .content__import {
                height: 100%;
            }
                .content__import::after {
                    display: block;
                    content: "";
                    background: url('../../assets/img/Sprites.6114dba8.svg') no-repeat -852px -365px;
                    width: 8px;
                    height: 5px;
                }