.formpartition {

}
    .formpartition__header {
        display: flex;
        align-items: center;
        cursor: pointer;
    }
        .formpartition__icon {
            width: 16px;
            height: 16px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 4px;
        }
            .formpartition__icon::after {
                display: block;
                content: "";
                background: url('../../../../assets/img/Sprites.6114dba8.svg') no-repeat -371px -364px;
                width: 10px;
                height: 8px; 
                transition: all 0.3s ease;
                transform: rotate(-90deg);
            }
            .formpartition--show .formpartition__icon::after {
                transform: rotate(0);
            }
        .formpartition__title {

        }
        .formpartition__title:hover {
            color: #35A425;
        }
    .formpartition__body {
        width: 100%;
    }