.tableinput-wrapper {
    height: 100%;
    overflow: auto;
}
    .tableinput__title {
        position: sticky;
        top: 0;
        left: 0;
        font-size: 13px;
        font-family: MISANotoSan-Bold;
        padding-bottom: 36px;
    }
    .tableinput {
        table-layout: auto;
        width: 100%;
    }
    .tableinput__delete {
        height: 18px;
        width: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
        .tableinput__delete::after {
            display: block;
            content: "";
            background: url('../../../assets/img/Sprites.6114dba8.svg') no-repeat -464px -313px;
            width: 15px;
            height: 15px;
        }
    .tableinput__function {
        display: flex;
        position: sticky;
        left: 0;
    } 

    .tableinput {
        width: 100%;
        table-layout: auto;
        border-collapse: separate;
        border-spacing: 0;
        position: relative;
    } 
    .tableinput.tableinput--disable > tbody > tr > td {
        background-color: #F4F5F8 !important;
    }
        .tableinput > thead {
            font-family: MISANotoSan-Bold;
            font-size: 12px;
            text-transform: uppercase;
            text-align: left;
        }
            .tableinput > thead th {
                padding: 0 10px;
                white-space: nowrap;
                height: 34px;
                background-color: var(--table-header-color) !important;
                border-right: 1px solid var(--border-color);
                border-bottom: 1px solid var(--border-color); 
            }
            .tableinput > tfoot > tr > th {
                text-align: right;
                padding: 4px 12px;
                font-size: 13px;
                font-family: MISANotoSan-Bold;
                background-color: #F8F9FE;
            }
            .tableinput > tfoot {
                
            }
        .tableinput > tbody {
            display: contents;
        }
            .tableinput > tbody > tr > td {
                height: 47px;
                padding: 5px 10px;
                font-family: MISANotoSan-Regular;
                font-size: 13px;
                font-weight: 400;
                background-color: #F4F5F8;
                white-space: nowrap;
                border-right: 1px dotted var(--border-color);
                border-bottom: 1px dotted var(--border-color);
                position: relative;
            }
            .tableinput > tbody > tr:hover > td {
                background-color: var(--table-background-hover-color);
            }

/* STICKY COLUMN */
/* COLUMN 1 */
.tableinput > tfoot > tr > th:first-child,
.tableinput > thead > tr > th:first-child {
    position: sticky;
    left: 0;
    min-width: 40px;
}
.tableinput > tbody >  tr > td:nth-child(1) {
    z-index: 10;
    position: sticky;
    left: 0;
}
/* COLUMN 2 */

.tableinput > tfoot > tr > th:nth-child(2),
.tableinput > thead > tr > th:nth-child(2){
    position: sticky;
    left: 40px;
}
.tableinput > tbody > tr > td:nth-child(2) {
    z-index: 10;
    position: sticky;
    left: 40px;
}
/* LAST COLUMN */
.tableinput > tfoot > tr > th:last-child,
.tableinput > thead > tr > th:last-child {
    min-width: 40px;
    position: sticky;
    right: 0;
    border-left: 1px dotted var(--border-color);
}
.tableinput > tbody >tr > td:last-child {
    min-width: 40px;
    z-index: 10;
    position: sticky;
    right: 0;
    border-left: 1px dotted var(--border-color); 
}