.text-bold {
    font-weight: bold;
}
.text-red {
    color: red;
}
.text-blue {
    color: #0075c0;
    font-size: 13px;
}
.text-blue:hover {
    text-decoration: underline; 
    cursor: pointer;
}
.text-green {

}
.text-align-left {
    text-align: left;
}
.text-align-center {
    text-align: center;
}
.text-align-right {
    text-align: right;
}
