.formlarge {
    position: fixed;
    z-index: 3000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
}
    .formlarge__header {
        box-sizing: content-box;
        padding: 9px 16px;
        height: 36px;
        background-color: #F4F5F8;
    }
        .formlarge__title {
            font-size: 24px;
            font-family: MISANotoSan-Bold;
        }
        .formlarge__function {
            min-height: 36px;
            display: flex;
            align-items: center;
        }
        .formlarge__type {
            display: flex;
            width: 300px;
        }
    .formlarge__body {
        overflow-y: auto;
        overflow-x: hidden;
        flex: 1;
        display: flex;
        flex-direction: column;
    }

        .formlarge__body-part1 {
            display: flex;
            padding: 20px 30px 0;
            background-color: #F4F5F8;
        }
            .formlarge__body-main-info {
                display: flex;
            } 
                .formlarge__body-cash {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-end;
                }
                    .formlarge__body-cash-title {
                        font-size: 13px;
                    }
                    .formlarge__body-cash-number {
                        font-family: MISANotoSan-Bold;
                        font-size: 36px;
                        font-weight: 700;
                    }
                    .formlarge__reference {
                        font-size: 13px;
                        display: flex;
                        align-items: center;
                    }
                        .formlarge__reference-icon {
                            width: 10px;
                            height: 6px;
                            cursor: pointer;    
                            display: flex;
                            align-items: center;
                            margin-left: 16px;
                        }
                            .formlarge__reference-icon::after {
                                display: block;
                                content: "";
                                background: url('../../../assets/img/Sprites.64af8f61.svg') no-repeat -1510px -481px;
                                width: 10px;
                                height: 2px;
                            }
        .formlarge__body-part2 {
            background-color: #fff;
            padding: 10px 30px 0;
            flex: 1;
        }
    .formlarge__footer {
        position: sticky; 
        bottom: 0;
        padding: 8px 16px;
        background-color: #38393D;
    }
        