.formextend__overlay {
    position: fixed;
    z-index: 9999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
}
    .formextend {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #fff;
        width: 800px;
        transition: all 0.3s ease;
        display: flex;
        flex-direction: column;
    }
    .formextend.formextend--fullscreen {
        width: calc(100% - 8px);
    }
        .formextend__header {
        }
            .formextend__title {
                padding: 14px 0 12px 20px;
                font-size: 24px;
                font-family: MISANotoSan-Bold;
            }
            .formextend__close {
                display: flex;
                padding: 12px;
            }
        .formextend__body {
            border-top: 1px solid #e5e5e5;
            height: 100%;
            padding: 0 20px;
            flex: 1;
            overflow-y: auto;
            overflow-x: hidden;
        }
        .formextend__footer {
            padding: 16px;
            position: sticky;
            bottom: 0;
        }


.formextend__extend {
    width: 12px;
    height: 50px;
    background: #fff;
    border: 1px solid #d4d7dc;
    border-radius: 8px;
    position: absolute;
    display: flex;
    align-items: center;
    left: -6px;
    top: 43%;
    z-index: 99;
    cursor: pointer;
}
    .formextend__extend::after {
        display: block;
        content: "";
        width: 9px;
        height: 14px;
        background: url('../../../assets/img/Sprites.6114dba8.svg') no-repeat -35px -360px;
    }