.selectcommodity__header {
    padding: 14px 0 12px 20px;
}
    .selectcommodity__title {
        font-size: 16px;
        font-family: MISANotoSan-Bold;
        margin-bottom: 8px;
    }
    .selectcommodity__curr {
        display: flex;
        align-items: center;
    } 
        .selectcommodity__curr-icon {
            width: 50px;
            height: 50px;
            background: url('../../../assets/img/Sprites.6114dba8.svg') no-repeat;
        }
        .selectcommodity__curr-title {
            font-size: 18px;
        }
        .selectcommodity__back {
            font-size: 13px;
        }
.selectcommodity__list {

}
    .selectcommodity__item {
        cursor: pointer;
        display: flex;
        padding: 16px 16px 20px 20px;
        border-bottom: 1px solid #e5e5e5;
        display: flex;
        align-items: center;
    }
        .selectcommodity__item-icon {
            width: 84px;
            height: 84px;
            background: url('../../../assets/img/Sprites.6114dba8.svg') no-repeat;
        }
        .selectcommodity__item-content {
            padding-left: 16px;
            text-align: left;
        }
            .selectcommodity__item-title {
                font-family: MISANotoSan-Bold;
                font-size: 13px;
                font-weight: 700;
            }
            .selectcommodity__item-desc {
                font-size: 13px;
                font-family: MISANotoSan-Regular;
                margin-top: 8px;
            }
