.comboboxadvance-wrapper {
    flex-shrink: 0;
}
.comboboxadvance {
    width: 100%;
    display: flex;
    min-height: 32px;
    border: 1px solid #babec5;
    border-radius: 2px;
    background-color: #fff;
    position: relative;
}
.comboboxadvance--focus {
    border: var(--input-focus);
}
    .comboboxadvance__main { 
        flex: 1;
        display: flex;
    }
    .comboboxadvance__main.comboboxadvance--disable,
    .comboboxadvance__main.comboboxadvance__disable .comboboxadvance__input-wrapper,
    .comboboxadvance__main.comboboxadvance--disable input {
        background-color: #EFF0F2;
    }

        .comboboxadvance__input-wrapper {
            flex: 1;
            box-sizing: border-box;
            padding: 6px 0 6px 12px;
            display: flex;
            align-items: center;
        }
            .comboboxadvance__input {
               width: 100%;
               outline: none; 
            }
            .comboboxadvance__input-multichoose {
                flex: 1;
                outline: none;
                padding-left: 10px;
            }
        .comboboxadvance__icon {
            width: 32px;
            display: flex; 
            align-items: center;
            justify-content: center;
            cursor: pointer;
            border-right: 1px solid #BABEC5;
        }
        .comboboxadvance__icon:hover { 
            background-color: #E0E0E0;
        } 
            .comboboxadvance__icon::after {
                display: block;
                content: "";
                background: url('../../../assets/img/Sprites.6114dba8.svg') no-repeat -34px -314px;
                width: 12px;
                height: 12px;
            }
            .comboboxadvance--search .comboboxadvance__icon::after {
                background: url('../../../assets/img/Sprites.6114dba8.svg') no-repeat -992px -360px;
                width: 16px;
                height: 16px;
            }
            .comboboxadvance__add {
                padding-right: 10px;
                display: flex;
                align-items: center;
                cursor: pointer;
                font-size: 13px;
                color: #35bf22;
                border-right: 1px solid #ccc;
            }
        .comboboxadvance__selection {
            display: flex;
            flex-basis: 100%;
            flex-grow: 1;
            flex-wrap: wrap;
        }
            .comboboxadvance__selection-item {
                display: flex;
                align-items: center;
                border: 1px solid #ccc;
                border-radius: 3px;
                background-color: #f0f0f0;
                padding: 2px 3px 2px 5px;
                margin: 3px;
                overflow: hidden;
                text-overflow: ellipsis;
            }
                .comboboxadvance__selection-title {
                    font-size: 13px;
                }
                .comboboxadvance__selection-icon {
                    cursor: pointer;
                    width: 16px;
                    height: 16px;
                    margin-left: 4px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                    .comboboxadvance__selection-icon::after {
                        display: block;
                        content: "";
                        background: url('../../../assets/img/Sprites.64af8f61.svg') no-repeat -84px -316px;
                        width: 8px;
                        height: 8px;
                    }